TELEGRAM_SECRET_TOKEN=ARDqiIIFLGBG08xuqKmCebDF
TELEGRAM_BOT_TOKEN_XBOT=8075096031:AAF9Evf1iraySnxV6-6zc-fNIWhZ8JLFuOk
TELEGRAM_BOT_TOKEN_YBOT=7834314818:AAFGm4-xyLTtmH6Lyx47y1pXXs-nEpifUt8
TELEGRAM_BOT_TOKEN_OCR_BOT=7834314818:AAFGm4-xyLTtmH6Lyx47y1pXXs-nEpifUt8
TELEGRAM_ADMIN_CHAT_ID=1282110140

SERVER_ACCESS_KEY=450c85f646896396
SERVER_SECRET_KEY=d6ae6e43c364e6ca75877efe260e6a29
SERVER_HOST=https://www.gemzpay.com
