SERVER_ACCESS_KEY=450c85f646896396
SERVER_SECRET_KEY=d6ae6e43c364e6ca75877efe260e6a29
SERVER_HOST=https://www.gemzpay.com


TELEGRAM_SECRET_TOKEN=ARDqiIIFLGBG08xuqKmCebDF
TELEGRAM_BOT_TOKEN_XBOT=8075096031:AAF9Evf1iraySnxV6-6zc-fNIWhZ8JLFuOk
TELEGRAM_BOT_TOKEN_YBOT=7834314818:AAFGm4-xyLTtmH6Lyx47y1pXXs-nEpifUt8
TELEGRAM_ADMIN_CHAT_ID=1282110140

SERVER_ACCESS_KEY=1bb7a1fe5d623cc4
SERVER_SECRET_KEY=349561e71b7a39c340b05440645ed673
SERVER_HOST=https://pay.coinfinacle.com

TELEGRAM_BOT_TOKEN_OCR=8045062314:AAF_5QTXWIsNmhkZILjQTv1NzUJKm5VFdXg
TELEGRAM_BOT_TOKEN_BULK=8045062314:AAF_5QTXWIsNmhkZILjQTv1NzUJKm5VFdXg
TELEGRAM_BOT_TOKEN_TEST=8045062314:AAF_5QTXWIsNmhkZILjQTv1NzUJKm5VFdXg
TELEGRAM_BOT_TOKEN_UTR=8045062314:AAF_5QTXWIsNmhkZILjQTv1NzUJKm5VFdXg

TELEGRAM_CHAT_ID_UTR=-4751668590

VERCEL_BASE_URL=http://localhost:3000
DB_USER=root
DB_PASSWORD=password
DB_HOST=localhost
DB_NAME=test